.search-label {
    display: block;
  }
  .search-input {
    margin-bottom: 1rem;
  }
  .singleRecord{
    border-bottom: 1px solid #ddd;
    padding-top: 13px;
  }
  .buttons{
    margin-top: 10px;
    padding-top: 10px;
  }
  .headings{
    border-bottom: 1px solid #ddd;
  }
  .headings label{
    font-weight: 600;
  }
  .fieldRow{
    margin-bottom: 10px;
  }
  .fieldRow label{
    padding: 9px 0;
    font-size: 14px;
  }